<section class="benefits container  grid section-scroll">

  <h3 class="benefits__header">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </h3>
  <ul class="benefits__list grid">
    <li class="benefits__item">
      <svg>
        <use width="44" height="44" xlink:href=img/sprite.svg#checkmark></use>
      </svg>
      <p class="benefits__text">
         Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </li>
    <li class="benefits__item">
      <svg>
        <use width="44" height="40" xlink:href=img/sprite.svg#checkmark></use>
      </svg>
      <p class="betefits__text">
         Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p></li>
    <li class="benefits__item">
      <svg>
        <use width="44" height="40" xlink:href=img/sprite.svg#checkmark></use>
      </svg>
      <p class="betefits__text">
         Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p></li>
    <li class="benefits__item">
      <svg>
        <use width="44" height="40" xlink:href=img/sprite.svg#checkmark></use>
      </svg>
      <p class="betefits__text"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p></li>
    <li class="benefits__item">
    <svg>
        <use width="44" height="40" xlink:href=img/sprite.svg#checkmark></use>
      </svg>
    <p class="betefits__text">
       Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p></li>
    <li class="benefits__item">
      <svg class="benefit__icon">
        <use  width="44" height="40" xlink:href=img/sprite.svg#checkmark></use>
      </svg>
      <p class="betefits__text">
         Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p></li>
    <li class="benefits__item">
      <svg>
        <use class="benefit__icon" width="44" height="40" xlink:href=img/sprite.svg#checkmark></use>
      </svg>
      <p class="betefits__text">
         Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p></li>
    <li class="benefits__item">
      <svg>
        <use class="benefit__icon" width="44" height="40" xlink:href=img/sprite.svg#checkmark></use>
      </svg>
      <p class="betefits__text"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p></li>
  </ul>

</section>
