<section class="skills " id="page-4">

  <div class="skills__wrapper">
    <h2 class="skills__name">Cтек</h2>
    <ul class="snake-grid">
          <li class="snake-item">
            <h3 class="skills__header">Верстка</h3>
            <p class="skills__text">HTML5, GIT, Figma, SCSS, gulp</p>
        </li>
        <li class="snake-item">
            <h3 class="skills__header">Языки</h3>
            <p class="skills__text">JavaScript, Typescript</p>
        </li>
        <li class="snake-item">
            <h3 class="skills__header">Фреймворки</h3>
            <p class="skills__text">React, Redux tool-kit</p>
        </li>
        <li class="snake-item">
            <h3 class="skills__header">Сеть</h3>
            <p class="skills__text">REST API, Axios</p>
        </li>
        <li class="snake-item">
            <h3 class="skills__header">Методологии:</h3>
            <p class="skills__text">SOLID, OOP, БЭМ, YAGNI, DRY, KISS, Agile Scrum</p>
        </li>
        <li class="snake-item">
            <h3 class="skills__header">Английский:</h3>
            <p class="skills__text">B1(чтение на уровня технических текстов)</p>
        </li>
      </ul>
</section>
